NODE_ENV=development
WEB_PORT=5173
USER=45!lM21*1@*2026!3
API_PORT=3000
POSTGRES_DB=appdb
POSTGRES_USER=appuser
POSTGRES_PASSWORD=securepassword
DATABASE_URL=postgresql://appuser:securepassword@db:5432/appdb?schema=public
JWT_SECRET=change_this_in_production
CORS_ORIGIN=http://localhost:8080
